@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;0,600;0,800;1,400;1,500&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*nav style*/

.header{
    background-color: azure;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 26px 0px;
}

.navMenu ul{
    display: flex;

}

.navMenu ul li{
    list-style: none;
    padding: 0px 16px;
    font-size: 18px;
}

@media screen and (max-width:576px) {
    .nav{
        flex-direction: column;
    }
    .navMenu ul{
        flex-direction: column;
    }
    .navMenu ul li{
        margin: 10px;
        text-align: center;
    }
}

/*navBody style*/

.navBody{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 216px;
}
.bodyDetails p{
    padding: 10px 200px 20px 0px;
    margin-bottom: 5px;
}

.bodyDetails button{
    background-color:brown;
    padding: 10px 8px;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.bodyImg{
    background-image: url("./images/images/airpod.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bodyImg img{
    width:200px;
}

@media screen and (max-width:576px) {
    .navBody{
        flex-direction:column-reverse;

    }
    .bodyDetails{
        text-align: center;
    }
    .bodyDetails p{
        padding: 0px;
    }
    .navBody{
        margin: 0px;
    }

    .bodyImg{
        width: 60%;
    }

    .bodyImg img{
        width: 60%;
        text-align: center;
    }
    
}

@media screen and (min-width:576px) and (max-width:960px) {
    .bodyDetails p{
        padding: 0px;
    }
}


/*main section*/
/*icon section*/

.main{
    background-color:white;
    margin-top: 30px;
}

.iconSection{
    margin: 0 auto;
    text-align: center;
    width: 65%;
    border-radius: 6px;
    background-color: darkgray;
}

.iconBox{
    padding: 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.iconBox div{
    margin-right: 6px;
}

@media screen and (max-width:576px) {
    .iconBox{
        flex-direction: column;
    }
    .iconBox div{
        margin-bottom: 12px;
        background-color: aliceblue;
        border-radius: 5px;
    }
    .iconBox div img{
        padding: 12px 14px;
        width: 40px;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .iconSection{
        width: auto;
    }
    .iconBox{
        padding: 0px;
    }
    .iconBox div img{
        width: 100%;
    }
}

/*images section style*/

.imgSection{
    background-color: bisque;
    width: 90%;
    padding: 10px 0px;
    margin: 30px auto;
    border-radius: 10px;
}

.imgSection h2{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    width: 260px;
    margin: 4px auto;
    border-radius: 5px;
}
.imgBox-1,.imgBox-2,.imgBox-3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 30px;
    padding: 0px 0px 30px 0px;
}
img{
    display: flex;
}


@media screen and (max-width:576px) {
    .imgSection{
        width: 100%;
    }
    .imgBox-1,.imgBox-2,.imgBox-3{
        flex-direction: column;
    }
    img{
        width: 100%;
        margin-bottom: 5px;
    }
    .imgSection h2{
        width: 100%;
        padding: 0px;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .imgSection{
        width: 100%;
    }

    img{
        margin-right: 5px;
    }
}